In [ ]:
#datetime

In [4]:
import datetime as dt
hozir = dt.datetime.now()
print(hozir)
type(hozir)

2021-03-23 21:55:58.318469

datetime.datetime

In [5]:
print(hozir.date())

2021-03-23

In [6]:
print(hozir.time())

21:55:58.318469

In [7]:
print(hozir.hour)

21

In [8]:
print(hozir.minute)
print(hozir.second)

55
58

In [10]:
bugun = dt.date.today()
print(bugun)

2021-03-23

In [11]:
print(f"Bugungi sana: {bugun}")

Bugungi sana: 2021-03-23

In [12]:
ertaga = dt.date(2021,3,23)
print(f"Ertaga: {ertaga}")

Ertaga: 2021-03-23

In [16]:
now = dt.date.today()
keyin = dt.date(2021,6,8)
farq = keyin - now
print(farq.days)

77

In [19]:
from datetime import datetime, timedelta
hozir = dt.datetime.now()
x = timedelta(days = +14)
for i in range(10):
    print(hozir.date())
    hozir += x

2021-03-24
2021-04-07
2021-04-21
2021-05-05
2021-05-19
2021-06-02
2021-06-16
2021-06-30
2021-07-14
2021-07-28

In [23]:
import datetime as dt
from dateutil.relativedelta import relativedelta
x = relativedelta(minutes = -20, years =+1,months = +1)
now =dt.datetime.now()
print(now)
print(now + x)

2021-03-24 10:07:48.328467
2022-04-24 09:47:48.328467

In [33]:
birthday = dt.datetime(2001,8,6)
print(dt.datetime.today() - birthday)

7170 days, 10:14:50.248575

In [ ]:
#math

In [34]:
import math
PI = math.pi
PI

3.141592653589793

In [35]:
print(f"PI ning qiymat: {PI}")

PI ning qiymat: 3.141592653589793

In [37]:
print(math.sin(PI/2))

1.0

In [38]:
print(math.cos(0))

1.0

In [39]:
print(math.tan(PI/4))

0.9999999999999999

In [40]:
print(math.degrees(math.pi/2))
math.radians(90)

90.0

1.5707963267948966

In [42]:
math.log10(25)

1.3979400086720377

In [43]:
math.log(math.e)

1.0

In [44]:
k = 3.7
print(math.ceil(k))
print(math.floor(k))

4
3

In [46]:
math.nan

nan

In [50]:
import timeit
timeit.timeit("math.factorial(10)", setup="import math")

0.09715700000015204

In [53]:
k = float(input('k = '))
print(math.trunc(k))

k = 2.8
2

In [55]:
timeit.timeit('math.pow(10,308)' , setup = 'import math')

0.21420750000106636

In [56]:
print(math.exp(1))

2.718281828459045

In [59]:
math.log(9,3)

2.0

In [ ]:
#pprint

In [63]:
from pprint import pprint
pprint('sdpfghsdkgar')

'sdpfghsdkgar'

In [78]:
import json
with open('students.json') as f:
    k = json.load(f)
pprint(k)
print(k)

{'student': [{'faculty': 'Engineering',
              'id': '01',
              'lastname': 'Price',
              'name': 'Tom',
              'year': 4},
             {'faculty': 'Computer Science',
              'id': '02',
              'lastname': 'Thameson',
              'name': 'Nick',
              'year': 3},
             {'faculty': 'ICT',
              'id': '03',
              'lastname': 'Doe',
              'name': 'John',
              'year': 2}]}
{'student': [{'id': '01', 'name': 'Tom', 'lastname': 'Price', 'year': 4, 'faculty': 'Engineering'}, {'id': '02', 'name': 'Nick', 'lastname': 'Thameson', 'year': 3, 'faculty': 'Computer Science'}, {'id': '03', 'name': 'John', 'lastname': 'Doe', 'year': 2, 'faculty': 'ICT'}]}